.AppJS {
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

.checked {
  color: orange;
}

.header {
  font-size: 32px;
  font-weight: bold;
  margin: 12px;
}

.sWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  width: 90%;
  margin: auto;
  margin-top: 40px;


}

.loggedInUser {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  margin: 12px;
  color: tomato;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin: 12px;
  color: tomato;
}


.topPicks {
  font-size: 22px;
  font-weight: bold;
  margin: 12px;
  color: white;
}

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  padding: 32px;
  margin-top:0px;
  padding-top:0px;
}